/*breadcrumb styles*/
.breadcrumb {
    @extend %listreset;
    font: 300 14px/17px $base-font;
    border-bottom: 1px solid #e2e3e6;
    color: $gray;
    padding: 20px 0 10px;
    margin: 0 0 30px;
    display: none;

    @include media('≥tablet') {
        display: block;
        padding: 20px 0 10px;
        font-size: 14px;
        display: block;
    }

    > li {
        position: relative;
        display: inline-block;
        padding-right: 14px;
        box-sizing: border-box;

        @include media('≥tablet') {
            padding-right: 21px;
        }

        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            right: 3px;
            bottom: 4px;
            width: 0;
            height: 0;
            border-top: 3px solid transparent;
            border-left: 4px solid $black;
            border-bottom: 3px solid transparent;

            @include media('≥tablet') {
                right: 8px;
            }
        }
    }

    a {
        color: $gray;
        font-weight: 300;
        transition: all 0.2s linear;

        &:hover {
            color: $red;
        }
    }

    span {
        font-weight: 600;
    }
}