#footer {
    font: 14px $base-font-sans-serif;
    color: $white;
    padding: 27px 0;
    overflow: hidden;
    position: relative;
    z-index: 998;
    background: $base-background-footer;

    @include media('≥desktop') {
        padding: 38px 8px;
    }

    .follow-box {
        justify-content: center;
        @include media('≥desktop') {
            justify-content: flex-end;
            width: 100%;
        }
    }
}

.footer-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    @include media('≥desktop') {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .logo-col {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;
        order: 1;
        position: relative;

        @include media('≥desktop') {
            display: block;
            width: 300px;
            padding-right: 3%;
            padding-top: 8px;
            margin-bottom: 0;
        }
    }

    .logo-decor {
        display: none;
        color: #f00;

        @include media('≥desktop') {
            position: absolute;
            top: -25px;
            left: -62px;
            pointer-events: none;
            display: block;
        }
    }

    .logo {
        margin: 0;
        fill: green !important;
        position: relative;
        z-index: 2;


        @include media('≥desktop') {
            width: 260px;
            margin-bottom: 28px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .copy {
        font-size: 12px;
        line-height: 1.5;
        width: 120px;
        display: block;
        font-family: $base-font-serif;

        @include media('≥desktop') {
            font-size: 14px;
            width: auto;
            line-height: 1.2;
        }

        a {
            color: inherit;
            &:hover {
                color: $red;
            }
        }
    }

    .menu-col {
        margin-bottom: 10px;
        padding-top: 5px;
        flex: 1 1 auto;
        order: 3;
        @include media('≥tablet') {
            order: 2;
        }
        @include media('≥desktop') {
            padding-top: 60px;
        }
    }

    .add-info {
        order: 2;
        @include media('≥tablet') {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            order: 3;
            line-height: 1.45;
        }

        @include media('≥desktop') {
            width: 360px;
            justify-content: flex-start;
        }

        @include media('≥1300px') {
            width: 295px;
        }

        .text {
            display: none;

            @include media('≥desktop') {
                opacity: 0.7;
                display: block;
                margin-bottom: 13px;
            }
        }

        p {
            margin: 0;
        }
    }
}

.footer-menu {
    ul {
        @extend %listreset;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        font: 700 12px/1.5 $popular-font-family;
        letter-spacing: 0.125em;
        text-align: center;

        @include media('≥tablet') {
            font-size: 13px;
        }
        @include media('≥widescreen') {
            text-align: left;
            letter-spacing: 0.125em;
        }
    }

    li {
        padding: 0 15px;
        width: 50%;
        margin-bottom: 20px;

        @include media('≥tablet') {
            width: 25%;
            margin-bottom: 15px;
        }
        @include media('≥desktop') {
            width: 33.33%;
            margin-bottom: 23px;
        }

        @include media('≥widescreen') {
            width: 25%;
        }

        &.active {
            a {
                color: $red;
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $red;
        }
    }
}

.subscribe-form {
    margin-bottom: 30px;
    width: 100%;
    position: relative;

    .title {
        display: block;
        color: $red;
        text-align: center;
        margin-bottom: 10px;
        font: 600 14px/1.2 $popular-font-family;

        @include media('≥desktop') {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: left;
        }
    }

    .form-row {
        display: flex;
        justify-content: center;
        max-width: 320px;
        margin: 0 auto;
        position: relative;

        label {
            position: absolute;
            left: -9999px;
        }

        input[type="email"] {
            border: 0;
            border-radius: 6px 0 0 6px;
            width: calc(100% - 110px);
            padding: 11px 15px;

            @include placeholder {
                color: rgba($gray, 0.4);
                font-size: 14px;
            }
        }

        input[type="submit"] {
            border-radius: 0 6px 6px 0;
            width: 110px;
            min-width: 0;
        }
    }

    .valid-msg {
        position: absolute;
        top: 100%;
        left: 0;
        font-family: $popular-font-family;
        padding-top: 3px;
        font-size: 12px;

        &.valid {
            color: #4bc325;
        }

        &.invalid {
            color: $red;
        }
    }

    .icon-check {
        margin-right: 5px;
    }

    .icon-close1 {
        margin-right: 5px;
        font-size: 11px;
    }
}
