#header {
    z-index: 999;
    position: relative;
    background: $white;
    border-bottom: 1px solid #eae5e5;

    @include media('≥tablet') {
        border-bottom: 1px solid #eaecef;
        position: relative;
        padding: 0;
    }
}

/*top-line styles*/
.top-line {
    color: $white;
    background: $black;
    font-size: 14px;
    font-family: $popular-font-family;
    padding: 13px 0;
    display: none;

    @include media('≥tablet') {
        display: block;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            display: none;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.sticky-wrap-header-holder {
    transition: height 0.2s linear;

    &.fixed-position {
        height: 54px !important;
    }
}

.header-holder {
    width: 100% !important;
    position: relative;

    .fixed-position & {
        height: 52px;
        align-items: center;
        display: flex;
        background: $white;
        box-shadow: 0 1px 20px 1px rgba($gray, 0.5);
    }

    .container {
        transition: all 0.2s linear;
        padding-bottom: 12px;
        padding-top: 12px;
        position: relative;
        @include media('≥1367px') {
            position: static;
        }

        .fixed-position & {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @include media('≥1367px') {
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .main-menu {
        @extend %clearfix;
        position: static;
        z-index: 2;
        display: block;
        text-transform: uppercase;
        width: calc(100% - 160px);

        @include media('≥1367px') {
            display: flex;
            justify-content: center;
        }
        ul {
            margin: 0;
            list-style: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }

    .nav-drop {
        @include animate(all);
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
        width: 100%;
        font: 700 14px/1 'Overpass', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
        justify-content: space-between;
        background: $mobile-nav-drop-bg;
        position: fixed;
        top: 69px;
        bottom: -80px;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 20px 15px 120px;
        box-shadow: 0 2px 5px 0 #808080;
        transition: none;
        display: none;

        @include res(1366) {
            top: 116px;
            padding-top: 50px;
        }
        @include res(768){
            padding-top: 20px;
        }

        @include media('≥1367px') {
            font-size: 13px;
            display: flex !important;
            align-items: center;
            position: static;
            opacity: 1;
            visibility: visible;
            color: $nav-color;
            background: none;
            box-shadow: none;
            transform: none;
            padding: 10px 0 0;
            overflow: visible;
            max-height: none;
        }

        @include media('≥desktop') {
            letter-spacing: 1.75px;
            font-size: 14px;
        }
        @include res(767) {
            top: 69px;
        }

        @include media('≥1367px') {
            padding-top: 0;
        }

        &.active {
            width: 100vw;

            @include media('≥1367px'){
                width: auto;
            }

            + .nav-opener {
                span {
                    opacity: 0;
                }

                &:after,
                &:before {
                    transform: rotate(45deg);
                    top: 16px;
                    left: 15%;
                    right: 15%;
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }

        &.active {
            .fixed-position & {
                transform: translate(0, 3px);
            }
        }
    }
}

.no-scroll{
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

ul.menu-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    >li {
        width: 100%;
        padding: 12px 0 5px 10px;
        cursor: pointer;
        position: relative;

        @include res(1366){
            padding: 10px;
        }

        &:last-child {
            @include media('<1367px') {
                padding-bottom: 0;
            }
        }

        @include media('≥1367px') {
            width: auto;
            padding: 0 10px 10px;
        }

        @include media('≥992px') {
            padding: 0 18px 10px;
        }

        @include media('≥1367px') {
            padding: 0 30px;
        }

        &:hover {
            > .submenu {
                display: block;

                @include media('≥1367px') {
                    opacity: 1;
                    visibility: visible;
                }
            }

            > a {
                color: $red;

                @include media('≥1367px') {
                    color: rgba($gray, 1);
                }
            }

            span {
                @include media('≥1367px') {
                    color: $black;
                }
            }
        }

        &.active {
            > a {
                color: $red;

                @include media('≥1367px') {
                    color: rgba($gray, 1);
                }
            }
        }

        &.onecol {
            position: relative;

            .submenu {
                @include media('≥1367px') {
                    transform: translate(-50%, 0);
                    padding-top: 29px;
                    max-width: 300px;
                    padding-top: 27px;
                }

                .fixed-position & {

                    @include media('≥1024px') {
                        transform: translate(-50%, -12px);
                        padding-top: 15px;
                    }

                    @include media('≥1367px') {
                        transform: translate(-50%, -2px);
                    }
                }
            }

            .submenu_list {
                @include media('≥1367px') {
                    column-count: 1 !important;
                }
            }
        }
    }

    a {
        transition: all 0.4s linear;
        color: $black;
        display: block;
        @include media('≥1367px') {
            color: rgba($gray, 0.3);
        }

        &:hover {
            color: $red;

            @include media('≥1367px') {
                color: rgba($gray, 1);
            }
        }
    }
    span{
        transition: all 0.4s linear;
        color: rgba($black, 0.3);
    }
}

.submenu {
    background: inherit;
    max-width: 100vw;
    position: static;
    text-transform: none;
    font-weight: 600;
    padding-left: 15px;
    z-index: 8;

    @include res(767){
        transition: all  0.2s linear;
    }

    @include media('≥1367px') {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 100%;
        bottom: auto;
        transform: translate(-50%, 0);
        font-size: 14px;
        width: auto;
        letter-spacing: 0;
        display: none;
        padding: 26px 15px 15px;
    }

    .fixed-position & {
        @include media('≥1367px') {
            transform: translate(-50%, -2px);
            padding-top: 16px;
        }
    }

    li {
        padding: 7px 0;
        break-inside: avoid-column;

        @include media('≥1367px') {
            border-top: 1px solid rgba(#333, 0.1);
            padding: 0;
            min-width: 200px;
        }

        &.active {
            a {
                color: $red;
            }
        }

        > a{
            color: $gray;
            @include media('≥1367px') {
                padding: 9px 0;
                color: #000000;
            }

            &:hover {
                color: $red;
            }
        }
    }
}

ul.submenu_list {
    padding: 10px 0 0;

    @include res(768) {
        column-count: 2 !important;
    }

    @include res(1024) {
        column-count: 3 !important;
    }

    @include res(800) {
        column-count: 2 !important;
    }

    @include media('≥1367px') {

        padding: 15px 30px;
        overflow: hidden;
        column-gap: 25px;
        position: relative;

        &:after {
            content: '';
            height: 2px;
            background: #ffffff;
            position: absolute;
            top: 15px;
            left: 5px;
            right: 5px;
        }
    }
}

.submenu_hold {
    @include media('≥1367px') {
        overflow-y: auto;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        background: $white;
        border-radius: 5px;
        max-height: calc(100vh - 110px);

        .fixed-position & {
            @include media('≥1367px') {
                max-height: calc(100vh - 55px);
            }
        }
    }
}

.nav-opener {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -14px;
    width: 38px;
    height: 27px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 1000;

    @include media('≥1367px') {
        display: none;
    }

    &:before,
    &:after,
    span {
        @include animate(transform);
        background: #1D1F24;
        position: absolute;
        top: 15px;
        left: 15%;
        right: 15%;
        height: 2px;
        margin-top: -2px;
    }

    &:before,
    &:after {
        content: '';
        top: 8px;
    }

    &:after {
        top: 22px;
    }

    &:hover {
        opacity: 0.9;
    }
}

.resize-active .nav-drop,
.resize-active .nav-drop > ul {
    transition: none !important;
}

.logo {
    display: block;
    width: 122px;
    margin: 0 auto;
    transition: all 0.2s linear;

    @include media('≥1367px') {
        width: 205px;
    }

    a {
        display: block;
        text-decoration: none;
    }

    img {
        width: 100%;
        transition: all 0.2s linear;

        //@include media('≥1367px') {
        //    width: 160px;
        //}

        @include media('≥1367px') {
            width: 185px;

            .fixed-position & {
                width: 105px;
            }
        }
    }
}

