.about-content {
    h2 {
        color: #1D1F24;
        margin-bottom: 20px;
        font: 900 20px/1.2 $popular-font-family;

        @include media('≥tablet') {
            font-size: 20px;
            margin-bottom: 32px;
        }

        @include media('≥desktop') {
            font-size: 36px;
        }
    }
}

.about-content_intro {
    color: #5E6064;
    margin-bottom: 20px;

    @include media('≥desktop') {
        margin-bottom: 45px;
    }

    h3 {
        font: 200 14px/1.53 $popular-font-family;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
    }

    .two-col {
        padding-top: 25px;

        @include media('≥desktop') {
            padding-top: 57px;
        }
    }

    .col {
        max-width: 285px;
        margin: 0 auto;
        font-size: 14px;
    }

    a[href^="mailto"] {
        font-weight: 700;
        color: #D3232A;

        &:hover {
            text-decoration: underline;
        }
    }
}

.about-content_team {
    color: rgba($gray, 0.4);
    line-height: 1.65;

    @include media('<desktop') {
        font-size: 14px;
    }

    .three-col .col {
        margin-bottom: 30px;

        @include media('<1300px') {
            width: 50%;
        }

        @include media('<480px') {
            width: 100%;
        }
    }

    .info-card {
        padding: 20px;


        @include media('≥1350px') {
            padding: 32px 32px 32px 43px;
        }
    }

    a.info-card {
        transition: all 0.2s linear;

        &:hover {
            box-shadow: 0 5px 22px 0 rgba(0,0,0,.4);
        }
    }

    .team-photo {
        min-width: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 17px;

        @include media('≥desktop') {
            min-width: 80px;
            width: 80px;
            height: 80px;
        }
    }
}

.about-content_team_name {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    .name-hold {
        display: flex;
        flex-direction: column;
    }

    .name {
        color: #1D1F24;
        font: 200 12px/1.2 $popular-font-family;
        letter-spacing: 2px;
        text-transform: uppercase;
        max-width: calc(100% - 100px);

        @include media('≥desktop') {
            font-size: 14px;
        }
    }

    .post {
        color: rgba($gray, 0.4);
        font-family: $base-font-sans-serif;
        letter-spacing: -1px;
    }
}