.brok-wrap{
    & > div{
        text-align: center;
        margin: 0 0 25px;
        color: $red;
    }
}
.brokers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 -7px;

    li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;

        &:hover,
        &.active{
            .brokers-list__item{
                border-color: #1d1f24;
            }
            .brokers-list__add-button{
                background-color: #4a4a4a;
                color: #fff;
            }
        }
    }
    &__item{
        position: relative;
        width: 79px;
        min-width: 79px;
        max-width: 79px;
        height: 79px;
        padding: 3px;
        border: 1px solid #edeff2;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        img{
            width: 100%;
        }
    }
    &__add-button{
        position: absolute;
        top: -10px;
        right: -10px;
        background: #d8d8d8;
        font-size: 14px;
        font-family: $popular-font-family;
        z-index: 2;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #9b9b9b;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
    }
    &__more{
        text-align: center;
        padding: 25px 0 30px;
        position: relative;

        @include media('≥tablet') {
            padding: 35px 0 30px ;
        }

        &-drop{
            display: none;
            background: $white;
            padding: 15px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #edeff2;
            max-width: 220px;
            width: 100%;
            max-height: 205px;
            height: 100vh;
            overflow: hidden;
            border-radius: 5px;
            z-index: 5;

            .count-brokers{
                font-size: 12px;
                font-weight: $bold;
                padding-right: 45px;
                padding-bottom: 10px;
                margin: 0 0 10px;
                border-bottom: 1px solid #edeff2;
                letter-spacing: -0.1px;
                line-height: 12px;
                font-family: $popular-font-family;
                color: rgba(29,31,36,.7);

                .close-drop{
                    cursor: pointer;
                    position: absolute;
                    right: 24px;
                    top: 18px;
                    font-size: 9px;
                    font-weight: $bold;
                }
            }
        }
    }
    &__drop{
        max-height: calc(100% - 30px);
        overflow-y: auto;
        height: 100%;
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
        }
        li{
            margin: 0 0 12px;
        }
        .current{
            label{
                font-weight: $bold;
            }
        }
        label{
            position: relative;
            padding-right: 25px;
            display: block;
            color: rgba(29,31,36,0.7);
            font-family: $base-font-serif;
            font-size: 12px;
            letter-spacing: -0.1px;
            line-height: 1;
            cursor: pointer;

            &:after{
                content: '';
                position: absolute;
                right: 7px;
                top: 2px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: 1px solid #616266;
            }
        }
        input[type='checkbox']{
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            margin: 0;
            position: absolute;
            left: -9999px;

            &:checked{
                & + label{
                    &:before{
                        content: '';
                        width: 4px;
                        height: 4px;
                        background: #616266;
                        border-radius: 50%;
                        position: absolute;
                        right: 9px;
                        top: 4px;
                    }
                }
            }
        }
    }
}
.compare-box{
    position: fixed;
    background: #4a4a4a;
    width: 99%;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: -42px;
    backface-visibility: hidden;
    border-radius: 6px;
    padding: 15px 25px;
    z-index: 10;

    @include res(1024){
        padding: 15px;
    }
    @include res(768){
        width: 480px;
    }
    @include res(500){
        width: 300px;
    }

    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res(768){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__close{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        padding: 3px;
        background: #38393b;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        color: rgba(255,255,255,0.4);
        transition: 0.2s;

        @include res(768){
            background-color: #1D1F24;
            width: 25px;
            height: 25px;
            color: $white;
            position: absolute;
            top: -9px;
            right: -9px;
        }
        
        &:hover{
            color: $white;
        }

        span{
            font-size: 10px;
            font-weight: 300;
            line-height: 16px;
            font-family: $popular-font-family;
            text-transform: uppercase;
            padding-top: 18px;

            @include res(768){
                display: none;
            }
        }
        i{
            position: absolute;
            left: 50%;
            top: 12px;
            font-size: 15px;
            transform: translateX(-50%);

            @include res(768){
                font-size: 8px;
                position: static;
                transform: none;
            }
        }
    }
    &__brokers{
        display: flex;
        align-items: center;

        @include res(768){
            justify-content: center;
            width: 100%;
            margin: 0 0 12px;
        }

        & > span{
            font-family: $popular-font-family;
            font-size: 17px;
            color: $white;
            font-weight: 700;
            margin-right: 30px;
            @include res(1024){
                display: none;
            }
        }
    }
    &__comparison{
        display: flex;
        align-items: center;
    }
    &__broker{
        position: relative;
        display: flex;
        align-items: center;
    }
    &__broker-img{
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 52px;
        margin-right: 6px;

        @include res(500){
            height: 48px;
            width: 48px;
            margin-right: 5px;
        }
        img{
            max-width: 100%;
            height: auto;
            width: 100%;
        }
    }
    &__broker-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__broker-name{
        color: $white;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        font-weight: 700;
        font-family: $popular-font-family;

        @include res(500){
            font-size: 13px;
        }
    }
    &__broker-link{
        font-size: 12px;
        color: rgba(255,255,255,.5);
        font-family: $base-font-serif;

        @include res(768){
            font-size: 11px;
        }
    }
    &__divider {
        color: #fff;
        font-size: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 25px;
        @include res(768){
            padding: 5px 15px;
            font-size: 20px;
        }
        @include res(500){
            padding: 5px 5px 5px 3px;
            font-size: 18px;
        }
    }
    &__broker-remove{
        position: absolute;
        cursor: pointer;
        color: #9b9b9b;
        background: #d8d8d8;
        font-family: $popular-font-family;
        font-size: 12px;
        font-weight: 700;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -9px;
        left: -9px;
        transition: 0.2s;
        z-index: 2;

        &:hover{
            background-color: #38393b;
            color: $white;
        }
    }
    .btn.decor-white{
        background: transparent;
        cursor: pointer;
        min-width: 230px;
        margin: 0;

        @include res(1024){
            min-width: 200px;
        }
        @include res(768){
            min-width: auto;
            width: 100%;
            font-size: 12px;
            padding: 10px 15px;
        }

        &:hover{
            a{
                color: $red;
            }
        }
        a{
            color: $white;
        }
    }
}