.navigation-holder {
    margin-bottom: 30px;
    position: relative;

    .navigation {
        margin-bottom: 10px;
    }

    .page-numbers {
        color: #a5a5a7;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba($gray, 0.05);
        margin: 0;
        z-index: 5;

        @media (min-width: 768px) {
            width: 50px;
            height: 50px;
        }

        &:nth-child(2) {
            border-left: 1px solid rgba($gray, 0.05);
        }

        &.dots {
            &:hover {
                color: #a5a5a7;
            }
        }

        &.current {
            background: $red;
            color: $white;

            &:hover {
                color: $white;
            }
        }

        &:hover {
            color: $red;
        }

        &.prev,
        &.next {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0;
            line-height: 0;
            background: #A5A6A8;
            border: 0;

            @media (max-width: 767px) {
                width: 30px;
            }

            &.disabled {
                pointer-events: none;
                background: #ECECEC;

            }

            &:hover {
                background: #86878a;
            }

            &:after {
                content: "\ea40";
                font-family: 'icomoon' !important;
                position: absolute;
                top: 50%;
                left: 7px;
                transform: translateY(-50%);
                font-size: 13px;
                line-height: 1;
                color: $white;
                font-weight: 400;


                @media (min-width: 768px) {
                    font-size: 18px;
                    left: 13px;
                }
            }
        }

        &.prev {
            right: auto;
            left: 0;
        }

        &.next {
            &:after {
                content: "\ea3c";
                left: 9px;

                @media (min-width: 768px) {
                    left: 16px;
                }
            }
        }
    }
}

/*styles for nav-links*/

.nav-links {
    padding:  0 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: $popular-font-family;
    position: relative;
    background: $white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    font-size: 13px;

    @media (min-width: 768px) {
        font-size: 14px;
        padding: 0 60px;
    }
}

.archive-holder__add-nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: $popular-font-family;
    color: #333;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }


    input[type="text"] {
        width: 60px;
        border-radius: 3px;
        border-color: #bbb9b9;
    }
    input[type="submit"] {
        border-radius: 3px;
    }
}

