header {
    position: relative;

    &:not(.search-closed) {
        .logo {
            @include media('<1367px') {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &.search-closed {

        .main-menu li{
            transform: none;
        }

        .search-form {
            &:after {
                opacity: 0;
                pointer-events: none;
            }
        }

        input[type="search"] {
            width: 0 !important;
            opacity: 0 !important;
            visibility: visible;
        }

        .submit {
            background: none !important;
            border-radius: 5px !important;

            &:hover {
                @include media('≥1367px') {
                    background: $black !important;
                }
            }
        }

        .icon-close {
            opacity: 0;
            visibility: hidden;
        }
    }


    .fixed-position {
        .search-form {
            @include media('<1367px') {
                top: 11px;
            }
        }
    }

    .main-menu li{
        transform: scale(0);
        transition:  transform 0.2s linear;
    }

    input[type="search"]::-ms-clear { display: none; }

    .search-form {
        position: absolute;
        top: 18px;
        right: 10px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0;
        width: auto;
        transition:  top 0.2s linear;

        @include media('≥1367px') {
            position: relative;
            width: 160px;
            right: auto;
            top: auto;
            transform: none;
        }

        input[type="search"] {
            width: calc(100vw - 140px);
            opacity: 1;
            visibility: visible;
            position: absolute;
            border-radius: 5px 0 0 5px;
            border: 1px solid rgba(#333, 0.2);
            z-index: 2;
            transition:  all 0.2s linear;
            background: $white !important;
            right: 47px;
            padding: 9px 32px 9px 11px;

            @include media('≥1367px') {
                width: 292px; //194
                right: 123px;
            }

            @include placeholder {
                color: rgba(#333, 0.5);
                line-height: 15px;
            }
        }

        .submit {
            color: #d2d2d3;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 5;
            background: $black;
            padding: 3px 5px;
            border-radius: 0 5px 5px 0;
            transition: all 0.2s linear;
            cursor: pointer;
            height: 35px;
            font-size: 0;
            line-height: 0;
            user-select: none;
            letter-spacing: 2px;
            width: 53px;

            @include media('≥1367px') {
                letter-spacing: 0;
                width: 128px;
                font: 600 14px/1 $popular-font-family;
            }

            @include media('≥1367px') {
                letter-spacing: 2px;
            }

            &:after {
                content: "\e8b6";
                font-family: icomoon !important;
                font-size: 24px;
                line-height: 1;
                margin-right: 5px;
                @include media('≥1367px') {
                    margin: 0 -7px 0 18px;
                }
            }
            &:hover {
                background: $black;
            }
        }

        label {
            display: none;
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($black, 0.5);
            transition: opacity 0.2s linear;
            display: none;
        }
    }


    .archive-holder {
        padding: 0 10px;
        overflow: hidden;
        margin-bottom: 0;
    }
}

.search-row {
    position: relative;
    z-index: 3;
    .icon-close {
        position: absolute;
        right: 65px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(#333, 0.5);
        z-index: 5;
        font-size: 16px;
        transition: all  0.2s linear;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
        display: none;
        @include media('≥1367px') {
            right: 135px;
        }

        &:hover {
            color: rgba(#333, 075);
        }
    }
}

.searchresult-drop {
    width: calc(100vw - 20px);
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 10px;
    display: none;
    @include media('≥1367px') {
        width: 420px;
    }

    .hold {
        position: relative;
        z-index: 3;
    }

    .searchresult-drop__category {
        font-size: 12px;
    }

    .mark  {
        color: $white;
        background: $red;
    }

    .archive-holder {
        margin-bottom: 0;
    }

    .wrap {
        background: $white;
        border-radius: 5px;
        overflow: hidden;
    }

    .title {
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $black;
        margin: 0 20px 10px;
        font: 700 14px/1 $popular-font-family;
    }

    .archive-holder__row {
        position: relative;
        margin-bottom: 0;
        padding: 15px;
        float: left;
        width: calc(100% + 20px);
        color: inherit;
        font-size: 12px;
        margin: -1px -10px;

        @include media('≥1367px') {
            padding: 20px;
        }

        @include media('<1367px') {
            &:nth-child(1n+4) {
                display: none !important;
            }
            @include media('landscape') {
                &:nth-child(1n+3) {
                    display: none !important;
                }
            }

        }

        &:after {
            content:'';
            pointer-events: none;
            height: 1px;
            left: 10px;
            right: 10px;
            bottom: 0;
            position: absolute;
            background: #e4e4e5;
        }

        &:hover {
            background: #e6e6e6;
        }
    }

    .archive-holder__img {
        float: left;
        margin-right: 10px;
    }

    .archive-holder .post-categories {
        letter-spacing: 0.02em;
        color: $red;
    }

    .archive-holder h2 {
        font-size: 15px;
        line-height: 1.1;

        @include media('≥1367px') {
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .archive-holder__content {
        overflow: visible;

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 0;
            opacity: 0.4;
        }
    }

    .link-more {
        display: block;
        color: $black;
        transition: all 0.2s linear;

        &:hover {
            background: #D8D8D8;

            &:after {
                border-color: $red;
                margin-left: 15px;
            }
        }

        &:after {
            content: '';
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            margin-left: 5px;
            display: inline-block;
            border: solid $black;
            border-width: 2px 2px 0 0;
            transition: all 0.2s linear;
        }
    }

    .see-all {
        color: inherit;
        padding: 0 20px;
        margin-bottom: 20px;
        display: inline-block;

        &:hover {
            color: $red;
        }

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            border: solid #000;
            border-width: 2px 2px 0 0;
            margin-left: 5px;

        }
    }
}

.search-container {
    .search-title {
        display: block;
        font: 900 18px/1 $popular-font-family;
        margin-bottom: 30px;

        @include media('≥1367px') {
            font-size: 36px;
        }

        mark {
            background: none;
            color: $red;
        }
    }

    &__wrap {
        background: $white;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
        margin-bottom: 40px;
    }

    .mark {
        border-bottom: 2px solid $red;
    }

    .archive-holder {
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }

    .notfound {
        font-size: 16px;
        color: $black;
    }
}

.result-amount {
    background: #ECECEC;
    color: #333333;
    font-size: 12px;
    font-family: $popular-font-family;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;

    @include media('≥1367px') {
        align-items: center;
        padding: 16px 65px;
        font-size: 14px;
        flex-direction: row;
        justify-content: space-between;
    }

    strong {
        font-size: 13px;
        @include media('≥1367px') {
            font-size: 19px;
        }
    }
}

.search-container__filter {
    display: flex;
    align-items: center;
    font: 700 14px/15px $popular-font-family;
    margin-bottom: 10px;
    padding-top: 10px;

    @include media('≥1367px') {
        padding-left: 30px;
    }

    .search-container__filter-opener {
        position: relative;
        text-transform: uppercase;
        margin-left: 10px;
        border: 1px solid #999;
        border-radius: 5px;
        padding: 11px 20px 10px 7px;
        background: rgba(#fff, 0.8);

        @include media('<1025px') {
            &.open {
                .search-container__filter__drop {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                &:after {
                    transform: rotate(180deg);
                    top: 13px;
                }
            }
        }

        @include media('≥1025px') {
            &:hover {
                .search-container__filter__drop {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                &:after {
                    transform: rotate(180deg);
                    top: 13px;
                }
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 7px solid $black;
            transition:  all 0.2s linear;
        }
    }

    .icon-filter_list {
        margin-right: 10px;
        margin-top: -3px;
    }


    .filter-item {
        cursor: pointer;
        display: flex;

        &.active {
            display: block;
            align-items: center;
            width: 132px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__drop {
        width: 160px;
        border: 1px solid #999;
        border-radius: 5px;
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 0;
        background: $white;
        visibility: hidden;
        transition: all 0.2s linear;
        transform: translateY(-20px);
        z-index: 5;
        max-height: 192px;
        overflow-x: hidden;
        overflow-y: auto;

        a {
            color: inherit;
            display: block;
            padding: 6px 7px;
            width: 100%;

            &:hover {
                color: $red;
                background: rgba(#999, 0.1);
            }
        }
    }
}