/*single-post styles*/
body.single-article {
    background-color: #F9FAFC;

    #content {
        @include media('≥desktop') {
            width: calc(100% - 415px);
        }
    }

    [id="sidebar"] {
        @include media('≥desktop') {
            width: 390px;
            padding-right: 45px;
        }
    }

    #main > .container {
        @include media('≥tablet') {
            padding: 0 35px !important;
        }
    }
    .card-row {
        background-color: rgba(#B9CFD4, 0.1);
    }
    .block-title{
        margin: 0 0 40px;
        padding: 40px 0 0;
        @include res(1024){
            font-size: 27px;
            margin: 0 0 27px;
        }
    }
}

.time-row {
    display: flex;
    align-items: flex-end;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: $base-font-sans-serif;

    .post-date {
        display: block;

        &:before {
            content: "\e900";
            display: inline-block;
            margin-right: 5px;
            font-family: 'icomoon' !important;
        }
        &+.read-time {
            &:before {
              content: '';
              display: inline-block;
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background: $gray;
              opacity: 0.5;
              margin: 0 7px 3px 12px;
            }
        }
    }

}

.article-title {
    padding: 57px 0;
    background-size: cover;
    color: $white;
    position: relative;
    margin-bottom: 30px;

    @include media('≥tablet') {
        margin-bottom: 32px;
        padding: 82px 0 65px;
    }

    @include media('≥desktop') {
        margin-bottom: 20px;
    }

    &:after {
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }

    .container {
        max-width: 1000px;
        position: relative;
        z-index: 2;
    }

    h1 {
        text-align: center;
        line-height: 1;
        margin-bottom: 20px;
        font-size: 28px;

        @include media('≥desktop') {
            padding: 0 13%;
            margin-bottom: 37px;
            font-size: 48px;
        }
    }
}

.article-text {
    color: #6e7074;
    font-weight: 300;
    position: relative;

    @include media('≥tablet') {
        padding-left: 90px;
    }
    @include media('≥desktop') {
        margin-bottom: 16px;
        padding-left: 200px;
    }

    h2 {
        color: $gray;
        margin-bottom: 34px;
    }

    table {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling:touch;
        height: auto !important;
        max-width: 100%;
        width: 100%;
        border: none;
    }
}

.article-arrows {
    align-items: center;
    justify-content: space-between;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
    pointer-events: none;
    display: none;

    @include media('≥tablet') {
        display: flex;
    }

    .article-text.arrows-fixed & {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .article-arrow {
        background: #dfe0e2;
        transition: all 0.2s linear;
        left: 0 !important;
        position: absolute;
        width: 25px;
        height: 55px;
        border-radius: 0 150px 150px 0;
        pointer-events: auto;

        @include media('≥desktop') {
            height: 100px;
            width: 40px;
            border-radius: 0 !important;
        }

        &:hover {
            background: $black;
            color: $black;

            .arrow-text {
                transform: translateX(0);
            }
        }

        &:before {
            font-family: 'icomoon' !important;
            content: "\ea40";
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 12px;
            @include media('≥desktop') {
                left: 18px;
            }
        }

        &.article-next {
            left: auto !important;
            right: 0 !important;
            border-radius: 150px 0 0 150px;

            &:before {
                content: "\ea3c";
                left: 15px;
                @include media('≥desktop') {
                    left: 20px;
                }
            }

            .arrow-text {
                left: auto;
                right: 100%;
                transform: translateX(350px) !important;
            }

            &:hover {

                .arrow-text {
                    transform: translateX(0) !important;
                }
            }
        }
    }

    .arrow-text {
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 265px;
        overflow: hidden;
        color: $gray;
        padding: 15px 15px 15px 33px;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 18px;
        border: 1px solid rgba($gray, 0.1);
        transform: translateX(-320px);
        transition: all 0.2s linear;
        background: $light-gray;
        font-family: $popular-font-family;
        font-weight: 400;

        @include media('<desktop') {
            display: none;
        }

        &:hover {
            color: $red;
        }

        .title {
            display: block;
            font-size: 12px;
            font-weight: 200;
            color: $gray;
            letter-spacing: 0.1em;
        }
    }
}

.share-box {
    padding-top: 30px;

    @include media('<tablet') {
        position: static !important;
    }

    @include media('≥tablet') {
        position: absolute;
        left: 15px;
        top: 25px;
        padding-top: 0;
    }

    @include media('≥desktop') {
        left: 90px;
        top: 30px;
    }

    .title {
        display: block;
        text-align: center;
        font:  900 16px/1.2  $popular-font-family;
        margin-bottom: 16px;
        color: $black;

        @include media('≥tablet') {
            display: none;
        }
    }

    .social-networks {
        align-items: center;
        justify-content: center;

        @include media('≥tablet') {
            padding: 20px 0;
            font-size: 25px;
            flex-direction: column;
        }

        li {
            padding: 0;
            margin: 0 5px 17px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            opacity: 1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #caccd0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            letter-spacing: 0;
            transition:  color 0.2s linear;
            font-size: 0;
            line-height: 0;

            @include media('≥tablet') {
                background: none !important;
                color: #E2E3E6;

                &:hover {
                    color: rgba($black, 0.6);
                }
            }

            &:before {
                @include media('≥desktop') {
                    font-size: 25px;
                    line-height: 1;
                }
            }

            &.icon-facebook {
                background: #3B5998;
            }

            &.icon-twitter {
                background: #55ACEE;
            }
            
            &.icon-dribbble {
                background: #f26798;
               &:before {
                    margin-bottom: 1px;
                }
            }

            &.icon-linkedin {
                background: #0077B5;
                &:before {
                    margin-bottom: 1px;
                }
            }
        }
    }
}

.article-author {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#f9fafc, 0.4);

    >a {
        display: flex;
        align-items: center;
        color: inherit;

        &:hover {
            opacity: 0.65;
        }
    }

    .author-img {
        border-radius: 50%;
        overflow: hidden;
        width: 37px;
        height: 37px;

        @include media('≥tablet') {
            width: 53px;
            height: 53px;
        }

        img {
            width: 100%;
        }
    }

    .name {
        display: block;
        color: #F9FAFC;
        font-weight: 500;
        letter-spacing: 0.125em;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;

        @include media('≥tablet') {
            font-size: 14px;
        }
    }

    .author-info {
        padding-left: 13px;
        position: relative;
        z-index: 5;
        font-size: 12px;
        font-family: $base-font-serif;

        @include media('≥tablet') {
            font-size: 15px;
        }

        a {
            color: inherit;
            &:hover {
                color: $white;
            }
        }
    }
}

.article-counterlist {
    padding: 7px 0;
    @include media('≥desktop') {
        padding: 30px 0;
    }

    .custom-counter02 {
        border: solid $popular-border-color;
        border-width: 1px 0;
    }
}

.award-title{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;

    @media (max-width: 640px) {
        display: block;
        margin-bottom: 38px;
    }
    h3{
        z-index: 5;
        color: $gray;
        font: 700 23px/32px $popular-font-family;
        letter-spacing: -0.22px;
        margin-bottom: 0;
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }

    div {
        z-index: 2;
        position: relative;
    }

    .award-image{
        margin: 0 40px;
        @media (max-width: 640px) {
            padding: 20px 0 40px;
            text-align: center;
            margin: 0;
        }
        @media (max-width: 1024px) {
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
            position: absolute;
        }
        img {
            max-height: 160px;
            width: auto;
            min-width: 104px;
        }
    }
}

