$fs: 18px;

//Fonts
$mon-regular: 'montserratregular', sans-serif;
$mon-bold: 'montserratbold', sans-serif;


//Colors
$white: #fff;
$base: #20202c;
$pink: #ef2369;
$teal: #4bbfaf;
$bright-teal: #23efd7;